<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de categoría</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
</head>

<body class="container mt-4">

    <h2 class="mb-4">Formulario de categoría</h2>

    <form
        th:action="@{/categorias/guardar}"
        th:object="${categoria}"
        method="post"
    >

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label for="nombre" class="form-label">
                Nombre de la categoría
            </label>

            <input
                type="text"
                id="nombre"
                th:field="*{nombre}"
                class="form-control"
                placeholder="Ejemplo: Tradicionales"
                pattern="(?=.*[A-Za-zÁÉÍÓÚáéíóúÑñ])[A-Za-zÁÉÍÓÚáéíóúÑñ0-9\s]+"
                title="El nombre de la categoría debe contener letras"
                required
            >
            <div
                class="text-danger mt-1"
                th:if="${#fields.hasErrors('nombre')}"
                th:errors="*{nombre}">
            </div>
        </div>

        <button type="submit" class="btn btn-success">
            Guardar
        </button>

        <a th:href="@{/categorias}" class="btn btn-secondary">
            Cancelar
        </a>

    </form>

</body>
</html>